<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	{% if form.errors %}
	<p>Something wrong with what you entered1</p>
	{% endif %}
	
	{% if next %}
	<p>Hey, you can't access that page.</p>
	{% endif %}
	
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		
		<p> Username: {{ form.username }} </p>
		<p> Password: {{ form.password }} </p>
		
		<input type="submit" = value="login">
		<input type="hidden" name="next" value="{{ next }}">
	</form>
		
		
	
</body>

</html>